* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  background-color: #323433;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-img {
  width: 70px;
}

#first-section {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  margin: 8px 0;
}
.gallery-img {
  width: 150px;
}

#second-section-container {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}

#second-section {
  border: 1px solid blue;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 30%;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
