html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 767px) {
  body {
    background-color: rgb(183, 237, 237);
    margin: 8px 16px;
    font-size: 1.0em;
    line-height: 1.5;

  }

  header {
    background-color: black;
    color: cyan;
    margin: -8px -16px;
    padding: 4px 4px;
  }

  aside {
    margin: 0 auto;
    max-width: 80%;
  }

  .nav-menu {
    list-style: none;
    display: flex;
    padding: 0;
  }

  .nav-menu li {
    max-width: 100%;
    display: flex;
    margin: 0 6px;
  }
  .nav-menu li:nth-child(1) {
    flex-grow: 1;
  }

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.1em;
  }

  article {
    margin: 0 auto;
    text-align: justify;
    max-width: 80%;
  }

  footer {
    margin: 0 auto;
    text-align: justify;
    max-width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: rgb(199, 225, 199);
    margin: 8px 16px;
    font-size: 1.2em;
  }
  .container {
    flex-wrap: wrap;
  }
  header {
    background-color: black;
    color: rgb(175, 255, 178);
    margin: -8px -16px;
    padding: 4px 4px;
    
  }
  .nav-menu {
    margin: 8px 16px;
    list-style: none;
    display: flex;
    padding: 0;
  }

  .nav-menu li {
    max-width: 100%;
    display: flex;
    margin: 0 6px;
  }
  .nav-menu li:nth-child(1) {
    flex-grow: 1;
  }

}

@media screen and (min-width: 992px) {
  body {
    background-color: rgb(235, 212, 235);
    margin: 8px 16px;
  }
  header {
    background-color: black;
    color: rgb(255, 91, 192);
    margin: -8px -16px;
    padding: 4px 4px;
    
  }
  .nav-menu {
    margin: 8px 16px;
    list-style: none;
    display: flex;
    padding: 0;
  }

  .nav-menu li {
    max-width: 100%;
    display: flex;
    margin: 0 6px;
  }
  .nav-menu li:nth-child(1) {
    flex-grow: 1;
  }
  .container {
    flex-wrap: nowrap;
  }
}
