/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.2em;
  margin: 0 8px;
  background-color: aqua;
}
article {
  text-align: justify;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.3em;
}
img {
	max-width: 100%;
}
main {
  border: 3px solid green;
}
section {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
}
figure {
  border: 1px solid blue;
	width: 45%;
  text-align: center;
  margin: 8px;
}
figcaption {
  font-size: .8em;
}