#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  display: flex;
  justify-content: space-between;
}

.message-read {
  background-color: greenyellow;
}

.message-unread {
  background-color: red;
}