* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  width: 100%;
  height: 100vh;
  background-color: #91ace5;
  color: rgb(25, 18, 58);
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.buttons-container {
  display: flex;
  margin: 8px 0;
  gap: 16px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  max-height: 60%;
}

#random-pet {
  margin: 16px;
  border: 3px solid #8484ca;
  border-radius: 10px;
  box-shadow: 3px 3px 12px #333;
  width: 100%;
}