*{
    margin: 4px 16px;
}

body {
    background-color: gray;
}
.section-content {
    text-align: center;
}

.preferences{
    display: flex;
}
.background-color-buttons{
    display: flex;
    flex-direction: column;
}
