* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #021d57f3;
  color: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  border: 1px solid rgb(105, 119, 201);
  width: 500px;
  margin: auto;
  background-color: rgb(97, 116, 224);
  border-radius: 10px;
  padding: 16px;
}

button {
  background-color: white;
  padding: 16px;
  border: none;
  margin-top: 8px;
  border-radius: 16px;
}